[package]
name = "racetime"
version = "0.2.0"
authors = ["Fenhl <fenhl@fenhl.net>"]
edition = "2021"
description = "racetime.gg category bot library"
repository = "https://github.com/fenhl/rust-racetime"
license = "MIT"
keywords = ["gg", "racetimegg", "category", "bot", "chat"]
categories = ["api-bindings"]

[dependencies]
async-trait = "0.1"
collect-mac = "0.1"
futures = "0.3"
http = "0.2"
itertools = "0.10"
lazy-regex = "2"
serde_json = "1"
thiserror = "1"

[dependencies.reqwest]
version = "0.11"
default-features = false
features = ["json", "rustls-tls"]

[dependencies.serde]
version = "1"
features = ["derive"]

[dependencies.tokio]
version = "1"
features = ["macros", "net", "rt", "sync", "time"]

[dependencies.tokio-tungstenite]
version = "0.17"
features = ["rustls-tls-webpki-roots"]

[dependencies.url]
version = "2"
features = ["serde"]

[dependencies.uuid]
version = "1"
features = ["serde", "v4"]
